<br><br>
<div class="container-fluid text-center">
  <div class="col-lg-8 col-lg-offset-2">
    <button type="button" class="btn btn-success col-lg-offset-8" (click)="create()"> Dodaj banku</button>
    <h1 class="text-center">Banke</h1>
    <br><br>
    <table class="table table-hover  text-left">
      <thead>
      <th>Naziv banke</th>
      <th>PIB</th>
      <th>Više informacija</th>
      <th>Izmena</th>
      <th>Brisanje</th>
      </thead>
      <tbody>
      <tr *ngFor="let bank of banks">
        <td>{{bank.name}}</td>
        <td>{{bank.pib}}</td>
        <td>
          <button type="button" class="btn btn-success" data-toggle="modal" [attr.data-target]="'#info' + bank.id">
            Informacije
          </button>
          <div class="modal fade  " id="info{{bank.id}}" tabindex="-1" role="dialog" aria-labelledby="infoModal">
            <div class="modal-dialog " role="document">
              <div class="modal-content ">
                <div class="modal-header">
                  <h4 class="modal-title" id="infoModal">Informacije</h4>
                </div>
                <div class="modal-body" style="max-height: 420px; max-width: 1200px; overflow-y: auto;">
                  <table class="table table-hover  text-center">
                    <thead>
                    <th>Naziv banke</th>
                    <th>PIB</th>
                    <th>Adresa</th>
                    <th>Grad</th>
                    <th>Država</th>
                    </thead>
                    <tbody>
                    <tr>
                      <td>{{bank.name}}</td>
                      <td>{{bank.pib}}</td>
                      <td>{{bank.address}}</td>
                      <td>{{bank.city}}</td>
                      <td>{{bank.country}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </td>




        <td>
          <button type="button" class="btn btn-primary" (click)="edit(bank.id)">Izmeni</button>
        </td>

        <td>
          <button type="button" class="btn btn-danger" data-toggle="modal" [attr.data-target]="'#del' + bank.id">
            Brisanje
          </button>
          <div class="modal fade" id="del{{bank.id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="deleteModal">Brisanje banke</h4>
                </div>
                <div class="modal-body" style="max-height: 420px; overflow-y: auto;">
                  Da li ste sigurni da želite da obrišete <b>{{bank.name}}</b>?
                </div>
                <div class="modal-footer">
                  <button class="btn btn-danger" (click)="delete(bank.id)" data-dismiss="modal">Obriši</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">zatvori</button>
                </div>
              </div>
            </div>
          </div>
        </td>

      </tr>
      </tbody>
    </table>

    <div [hidden]="deleteStatusCode==null" class="col-lg-4 col-lg-offset-4">
      <div *ngIf="deleteStatusCode!=200" class="alert alert-danger">Greška prilikom brisanja</div>
    </div>
  </div>
</div>
